.btn {

    padding: 14px 30px;

    border-radius: 50px;

    font-size: 16px;

    font-weight: 600;

    transition: .35s ease;

    cursor: pointer;

}

.primary {

    background: var(--primary-color);

    color: white;
}

.primary:hover {

    transform: translateY(-4px);

    box-shadow: 0 10px 30px rgba(37, 99, 235, .35);
}

.secondary {

    background: transparent;

    border: 2px solid var(--primary-color);

    color: var(--primary-color);
}

.secondary:hover {

    background: var(--primary-color);

    color: white;
}

