*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {

    background: var(--bg-color);
}

section {

    position: relative;
}

::-webkit-scrollbar {

    width: 10px;
}

::-webkit-scrollbar-thumb {

    background: var(--primary-color);
}

a {
    word-break: break-word;
}